<!DOCTYPE html>
<html lang="en-US" data-ng-app="beetApp" data-ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Categories - BEET</title>
    <meta name="description" content="Spiral HTML5 premium template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C300%2C700%7CRaleway%3A400%2C200%2C600%2C700&amp;ver=4.2.6"
          type="text/css" media="all">
    <link rel="stylesheet" href="rs-plugin/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/icons/icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/core-icons/core_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/scripts.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/animate.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/ionicons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/sweetalert2.css" type="text/css" media="all">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        * {
            box-sizing: border-box;
        }
        .slider {
            width: 50%;
            margin: 100px auto;
        }
        .slick-slide {
            margin: 0px 20px;
        }
        .slick-slide img {
            width: 100%;
        }
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }
        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }
        .slick-current {
            opacity: 1;
        }
    </style>
</head>

<body class="page login" data-ng-controller="categoriesController">

<div class="logo animated fadeIn" style="margin-top: 20px !important;">
    <a href="index.html">
        <img src="../images/logo-black.png"/>
    </a>
</div>

<div class="content" style="margin: 0px auto 10px auto !important;">
    <div class="road-map">
        <div class="road-line"></div>
        <div class="road-flex">
            <p class="step-circle-disable" style="margin-top: 30px; margin-bottom: 20px;">
                1
            </p>
            <p class="step-1">
                Register your Basic Data
            </p>
        </div>
        <div class="road-flex">
            <p class="step-circle" style="margin-top: 30px; margin-bottom: 20px;">
                2
            </p>
            <p class="step-1">
                Complete Data
            </p>
        </div>
        <div class="road-flex">
            <p class="step-circle-disable" style="margin-top: 30px; margin-bottom: 20px;">
                3
            </p>
            <p class="step-1">
                Select Category
            </p>
        </div>
        <div class="road-flex">
            <p class="step-circle-disable" style="margin-top: 30px; margin-bottom: 20px;">
                4
            </p>
            <p class="step-1">
                Upload Documents
            </p>
        </div>
    </div>


    <form class="login-form animated fadeIn" action="index.html" method="post">
        <div align="center">
            <!--<div style="margin-bottom: 20px">-->
                <!--<div class="upload-text">Upload a current</div>-->
                <!--<div class="upload-text">headshot of yourself</div>-->
            <!--</div>-->
            <div class="mini-imagen-circle" data-toggle="tooltip" title="Haga clic para subir una imagen"
                 flow-init="{target:'/retrieve/1',singleFile:true}"
                 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                 flow-files-submitted="$flow.upload()"
                 flow-file-success="someHandlerMethod( $file, $message, $flow, '#formNuevoVehiculo','fotoVehiculo[]' )"
                 flow-attrs="{accept:'image/*'}"
                 flow-name="vehimagv.flowa"
                 flow-files-added="added($file,$event,$flow)">
                <div class="full-size middle-valigner" flow-btn>
                    <i class="fa ion-ios-camera fa-3x"></i>
                </div>
                <div ng-show="$flow.files.length" ng-cloak>
                    <div class="middle-valigner descartar-obj" ng-show="$flow.files.length"
                         ng-click="removeImage($flow.files[0])">
                        <i class="fa  fa-times"></i>
                    </div>
                    <span class="spin-subiendo" ng-show="$flow.files[0].isUploading()">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    <img class="imagenes-subiendo-circle" flow-img="$flow.files[0]"/>
                </div>
                <input type="hidden" ng-model="fotoveh1" ng-required="$flow.files[0].isUploading()"/>
            </div>
        </div>
        <div class="rows">
            <div class="col-sm-12 col-md-4">
                <select class="form-control">
                    <option>Sexo</option>
                    <option>F</option>
                    <option>M</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <input class="form-control form-control-solid placeholder-no-fix" type="text"
                       placeholder="Mobile"
                       name="tlf" id="tlf"/>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <input class="form-control form-control-solid placeholder-no-fix" type="text"
                           placeholder="Zip Code" name="zip" id="zip"/>
                </div>
            </div>
        </div>
        <div class="rows">
            <div class="col-sm-12 col-md-4">
                <select class="form-control">
                    <option>Country</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <select class="form-control">
                    <option>State</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            <div class="col-sm-12 col-md-4">
                <select class="form-control">
                    <option>City</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
        </div>
        <div align="center" style="margin-top: 3rem;">
            <a href="#" class="btn btn-register uppercase">Next <i class="ion-forward"></i></a>
        </div>
    </form>

    <section class="vertical-center-4 slider">
        <div>
            <img src="http://placehold.it/350x100?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
    </section>
    <section class="vertical-center-3 slider">
        <div>
            <img src="http://placehold.it/350x100?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
    </section>

    <section class="vertical-center-2 slider">
        <div>
            <img src="http://placehold.it/350x100?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
    </section>

    <section class="vertical-center slider">
        <div>
            <img src="http://placehold.it/350x100?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
    </section>

    <section class="vertical slider">
        <div>
            <img src="http://placehold.it/350x100?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=9">
        </div>
        <div>
            <img src="http://placehold.it/350x100?text=10">
        </div>
    </section>
    <section class="regular slider">
        <div>
            <img src="http://placehold.it/350x300?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=6">
        </div>
    </section>

    <section class="center slider">
        <div>
            <img src="http://placehold.it/350x300?text=1">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=2">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=3">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=5">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=6">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=7">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=8">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=9">
        </div>
    </section>

    <section class="variable slider">
        <div>
            <img src="http://placehold.it/350x300?text=1">
        </div>
        <div>
            <img src="http://placehold.it/200x300?text=2">
        </div>
        <div>
            <img src="http://placehold.it/100x300?text=3">
        </div>
        <div>
            <img src="http://placehold.it/200x300?text=4">
        </div>
        <div>
            <img src="http://placehold.it/350x300?text=5">
        </div>
        <div>
            <img src="http://placehold.it/300x300?text=6">
        </div>
    </section>

    <section class="lazy slider" data-sizes="50vw">
        <div>
            <img data-lazy="http://placehold.it/350x300?text=1-350w" data-srcset="http://placehold.it/650x300?text=1-650w 650w, http://placehold.it/960x300?text=1-960w 960w" data-sizes="100vw">
        </div>
        <div>
            <img data-lazy="http://placehold.it/350x300?text=2-350w" data-srcset="http://placehold.it/650x300?text=2-650w 650w, http://placehold.it/960x300?text=2-960w 960w" data-sizes="100vw">
        </div>
        <div>
            <img data-lazy="http://placehold.it/350x300?text=3-350w"  data-srcset="http://placehold.it/650x300?text=3-650w 650w, http://placehold.it/960x300?text=3-960w 960w" data-sizes="100vw">
        </div>
        <div>
            <img data-lazy="http://placehold.it/350x300?text=4-350w"  data-srcset="http://placehold.it/650x300?text=4-650w 650w, http://placehold.it/960x300?text=4-960w 960w" data-sizes="100vw">
        </div>
        <div>
            <img data-lazy="http://placehold.it/350x300?text=5-350w"  data-srcset="http://placehold.it/650x300?text=5-650w 650w, http://placehold.it/960x300?text=5-960w 960w" data-sizes="100vw">
        </div>
        <div>
            <!-- this slide should inherit the sizes attr from the parent slider -->
            <img data-lazy="http://placehold.it/350x300?text=6-350w"  data-srcset="http://placehold.it/650x300?text=6-650w 650w, http://placehold.it/960x300?text=6-960w 960w">
        </div>
    </section>
</div>

<!--<div class="row full-width footer"> BEET ©2017.  <a href="#"><span class="terms">Terms and Conditions</span></a> | <a href="#"><span class="terms">Privacy Policy</span></a></div>-->

<!--<footer id="ABdev_main_footer">-->
<!--<div id="footer_copyright">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="span4 footer_copyright left_aligned">-->
<!--© 2016. All Rights Reserved-->
<!--</div>-->
<!--<div class="span4 center_aligned">-->
<!--<a href="#" id="back_to_top" title="Back to top">-->
<!--<i class="ci_icon-angle-up"></i>-->
<!--</a>-->
<!--</div>-->
<!--<div class="span4 footer_credits right_aligned">-->
<!--Developed By Koffeeion-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript" src="../js/jquery.slim.min.js"></script>
<script type="text/javascript" src="../js/angular/angular.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

<script src="../js/moment.js"></script>
<script src="../js/fullcalendar.js"></script>
<script src="../js/gcal.js"></script>
<script src="../js/calendar.js"></script>
<script src="../js/ng-flow-standalone.min.js"></script>
<script src="../js/angular/app.js"></script>

<script type="text/javascript" src="js/stickymenu.js"></script>
<!--<script type="text/javascript" src="js/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/portfolio-init.js"></script>
<script type="text/javascript" src="../js/sweetalert2.min.js"></script>
<script type="text/javascript" src="../js/alerts.js"></script>
<!--<script type="text/javascript" src="js/scripts.js"></script>-->
<!--<script type="text/javascript" src="js/custom.js"></script>-->
<script type="text/javascript">
    $(document).on('ready', function() {
        $(".vertical-center-4").slick({
            dots: true,
            vertical: true,
            centerMode: true,
            slidesToShow: 4,
            slidesToScroll: 2
        });
        $(".vertical-center-3").slick({
            dots: true,
            vertical: true,
            centerMode: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
        $(".vertical-center-2").slick({
            dots: true,
            vertical: true,
            centerMode: true,
            slidesToShow: 2,
            slidesToScroll: 2
        });
        $(".vertical-center").slick({
            dots: true,
            vertical: true,
            centerMode: true,
        });
        $(".vertical").slick({
            dots: true,
            vertical: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
        $(".center").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            slidesToShow: 5,
            slidesToScroll: 3
        });
        $(".variable").slick({
            dots: true,
            infinite: true,
            variableWidth: true
        });
        $(".lazy").slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true
        });
    });
</script>
<script src="js/index.js"></script>

</body>
</html>