<!DOCTYPE html>
<html lang="en-US" data-ng-app="beetApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sign Up | BEET</title>
    <meta name="description" content="Spiral HTML5 premium template">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C300%2C700%7CRaleway%3A400%2C200%2C600%2C700&amp;ver=4.2.6"
          type="text/css" media="all">
    <link rel="stylesheet" href="rs-plugin/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/icons/icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/core-icons/core_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/scripts.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/animate.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/ionicons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/sweetalert2.css" type="text/css" media="all">
</head>

<body class="page login" data-ng-controller="LoginController">

<div class="logo animated fadeIn" style="margin-top: 20px !important;">
    <a href="index.html">
        <img src="../images/logo-black.png"/>
    </a>

</div>

<div class="content" style="margin: 0px auto 10px auto !important;">
    <div class="road-map" style="margin-bottom: 30px;">
        <div class="road-line"></div>
        <div class="road-flex">
            <p class="step-circle" style="margin-top: 30px; margin-bottom: 20px;">
                1
            </p>
            <p class="step-1">
                Register your Basic Data
            </p>
        </div>
        <div class="road-flex">
            <p class="step-circle-disable" style="margin-top: 30px; margin-bottom: 20px;">
                2
            </p>
            <p class="step-1">
                Complete Data
            </p>
        </div>
        <div class="road-flex">
            <p class="step-circle-disable" style="margin-top: 30px; margin-bottom: 20px;">
                3
            </p>
            <p class="step-1">
                Select Category
            </p>
        </div>
        <div class="road-flex">
            <p class="step-circle-disable" style="margin-top: 30px; margin-bottom: 20px;">
                4
            </p>
            <p class="step-1">
                Upload Documents
            </p>
        </div>
    </div>
    <form class="login-form animated fadeIn" name="signupForm" action="index.html" method="post" data-ng-show="login" id="form_create">
        <div class="rows">
            <div class="col-sm-12 col-md-6">
                <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="First Name" maxlength="20"
                       name="fname" id="fname" required ng-model="fname" data-ng-pattern="/^[a-zA-Z\sáéíóúÁÉÍÓÚåüñÑ' ]{1,25}$/"/>
                <span class="errores" ng-show="signupForm.fname.$touched && signupForm.fname.$error.required">Required field *</span>
                <span class="errores" ng-show="signupForm.fname.$touched && signupForm.fname.$error.pattern">Invalid field (only letters)</span>
            </div>
            <div class="col-sm-12 col-md-6">
                <input class="form-control form-control-solid placeholder-no-fix" type="text" maxlength="20"
                       placeholder="Last Name" name="lname" id="lname" required ng-model="lname" data-ng-pattern="/^[a-zA-Z\sáéíóúÁÉÍÓÚåüñÑ' ]{1,25}$/"/>
                <span class="errores" ng-show="signupForm.lname.$touched && signupForm.lname.$error.required">Required field *</span>
                <span class="errores" ng-show="signupForm.lname.$touched && signupForm.lname.$error.pattern">Invalid field (only letters)</span>
            </div>
        </div>
        <div class="rows">
            <div class="col-sm-12 col-md-6">
                <input class="form-control form-control-solid placeholder-no-fix" type="text" placeholder="Email" maxlength="50"
                       name="email" id="email" required ng-model="email" data-ng-pattern="/[^@]+@[^@]+\.[^@]+/"/>
                <span class="errores" ng-show="signupForm.email.$touched && signupForm.email.$error.required">Required field *</span>
                <span class="errores" ng-show="signupForm.email.$touched && signupForm.email.$error.pattern">Invalid field (e.g.: name@mail.com)</span>
            </div>
            <div class="col-sm-12 col-md-6">
                <input class="form-control form-control-solid placeholder-no-fix" placeholder="Password" maxlength="20"
                       name="pass" id="pass" type="{{inputType}}" ng-model="passwordCheckbox" required/>
                <div class="view-pass" ng-click="hideShowPassword()">
                    <i ng-class="{'fa fa-eye view-pass-i' : activeEye, 'fa fa-eye view-pass-i-off' : !activeEye}"  >
                    </i>
                </div>
                <span class="errores" ng-show="signupForm.pass.$touched && signupForm.pass.$error.required">Required field *</span>
            </div>
        </div>

        <div align="center">
            <!--<input type="button" class="btn btn-login uppercase" id="successSignup" value="Sign Up">-->
            <a href="#" class="btn btn-register uppercase margin-vertical-btn">Sign Up</a>
        </div>

        <!--<div class="rows" style="margin-top: 20px">-->
        <!--<div class="col-sm-12 col-md-6">-->
            <!--<label class="rememberme check mt-checkbox mt-checkbox-outline">-->
                <!--<input type="checkbox" name="remember" value="1"/>I accept the Terms and Conditions-->
                <!--<span></span>-->
            <!--</label>-->
        <!--</div>-->
            <div class="text-signup">
                <div>Already have an account? <a href="#">Login here</a></div>
                <div>By clicking ‘Sign up’, I agree to Beet’s <a href="#">Terms of Service</a></div>
            </div>
        <!--</div>-->
    </form>
</div>

<div class="row full-width footer"> BEET ©2017. <a href="#"><span class="terms">Terms and Conditions</span></a> | <a
        href="#"><span class="terms">Privacy Policy</span></a></div>

<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.slim.min.js" ></script>
<script type="text/javascript" src="../js/angular/angular.min.js"></script>
<script type="text/javascript" src=//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-messages.js"></script>
<script type="text/javascript" src="../js/ngMask.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

<script src="../js/moment.js"></script>
<script src="../js/fullcalendar.js"></script>
<script src="../js/gcal.js"></script>
<script src="../js/calendar.js"></script>
<script src="../js/ng-flow-standalone.min.js"></script>
<script src="../js/angular/app.js"></script>

<script type="text/javascript" src="js/stickymenu.js"></script>
<!--<script type="text/javascript" src="js/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/portfolio-init.js"></script>
<script type="text/javascript" src="../js/sweetalert2.min.js"></script>
<script type="text/javascript" src="../js/alerts.js"></script>

</body>
</html>