<!DOCTYPE html>
<html lang="en-US" data-ng-app="beetApp" data-ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Try Now | BEET</title>
    <meta name="description" content="Spiral HTML5 premium template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C300%2C700%7CRaleway%3A400%2C200%2C600%2C700&amp;ver=4.2.6"
          type="text/css" media="all">
    <link rel="stylesheet" href="rs-plugin/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/icons/icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/core-icons/core_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/scripts.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/animate.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/ionicons.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/sweetalert2.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/clockpicker.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/demo.css" type="text/css" media="all">-->
    <!-- Latest compiled and minified CSS Bootstrap
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->

    <link href="css/style2.css" rel="stylesheet" media="screen">
    <!-- Jquery -->
    <!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
</head>

<body class="page" data-ng-controller="categoriesController">
<div class="dash">
    <div ng-include="'menu-bar-dark.html'"></div>
    <div ng-include="'sidebar.html'" style="background-color: #2f2f2e;box-shadow: 3px -5px 10px -2px rgba(125,121,125,1);"></div>

    <a href="javascript:void(0)" onclick="cascade();mostrar();" class="expand-menu">
        <i class="ion-chevron-right"></i>
    </a>

    <div class="container-fluid" ng-init="initHoverdir()" style="margin-bottom: 100px; display: flex; flex-direction: column">
        <div class="mt-120">
            <div class="categories-box1" style="padding:0">
                <div class="title-cat-request">
                    <div class="col-sm-6 col-md-6 col-lg-5 col-xl-5"
                         style="display: flex; flex-direction: row; align-items: center; flex-wrap: nowrap">
                        <h3 class="title-cat-text2 bold">
                            Categories
                        </h3>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-7 col-xl-7 rows filter-tech">
                        <div class="">
                            <a class="btn btn-filter">
                                New Category
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tabs-categories ">
                    <div class="tab-categories-selected animated zoomIn" data-ng-click="selectOption(1)">
                        <span class="tab-text-adm"><i class="ion-laptop tab-i-adm"></i> Computer Support </span>
                    </div>
                    <div class="tab-categories animated zoomIn" data-ng-click="selectOption(2)">
                        <span class="tab-text-adm"><i class="ion-ios-home-outline tab-i-adm"></i> Smart Home </span></span>
                    </div>
                    <div class="tab-categories animated zoomIn" data-ng-click="selectOption(3)">
                        <span class="tab-text-adm"><i class="ion-ios-monitor-outline tab-i-adm"></i> Television</span>
                    </div>
                    <div class="tab-categories animated zoomIn" data-ng-click="selectOption(4)">
                        <span class="tab-text-adm"><i class="ion-ios-videocam-outline tab-i-adm"></i> Audio & Video</span>
                    </div>
                    <div class="tab-categories animated zoomIn" data-ng-click="selectOption(5)">
                        <span class="tab-text-adm"><i class="ion-android-wifi tab-i-adm"></i> Wifi & Network</span>
                    </div>
                    <div class="tab-categories animated zoomIn" data-ng-click="selectOption(6)">
                        <span class="tab-text-adm"><i class="ion-bug tab-i-adm"></i> Malware / Virus</span>
                    </div>
                </div>
                <div style="margin-top: 50px" data-ng-show="computer">
                    <div class="rows" style="margin-left: 10px;margin-right: 10px">
                        <div class="col-sm-12 col-md-6 col-lg-3 center">
                            <div class="item-subcategory-adm">
                                <div class="info-subcategory-adm">
                                    <i class="icon-settings icon-subcategory-adm"></i>
                                    <span class="name-subcategory-adm">
                                        Computer Repair and Help
                                    </span>
                                    <span class="price-subcategory-adm">
                                        85 USD
                                    </span>
                                </div>
                                <div id="icon" style="display: none;" class="subcat-options-hidden">
                                    <div class="card-user-option">
                                        <i class="icon-pencil card-user-option-icon m-0" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                    </div>
                                    <div class="card-user-option" data-toggle="modal" data-target="#plus">
                                        <i class="icon-plus card-user-option-icon m-0" data-toggle="tooltip" data-placement="bottom" title="Plus"></i>
                                    </div>
                                    <div class="card-user-option">
                                        <label class="switch mt-1" data-toggle="tooltip" data-placement="bottom" title="Disable">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 50px" data-ng-show="smart">
                    <div class="rows" style="margin-left: 10px;margin-right: 10px">
                        <div class="col-sm-12 col-md-6 col-lg-3 center">
                            <div class="item-subcategory-adm">
                                <div class="info-subcategory-adm">
                                    <i class="icon-settings icon-subcategory-adm"></i>
                                    <span class="name-subcategory-adm">
                                        Computer Repair and Help
                                    </span>
                                    <span class="price-subcategory-adm">
                                        85 USD
                                    </span>
                                </div>
                                <div id="icon" style="display: none;" class="subcat-options-hidden">
                                    <div class="card-user-option">
                                        <i class="icon-pencil card-user-option-icon m-0" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                    </div>
                                    <div class="card-user-option">
                                        <label class="switch mt-1" data-toggle="tooltip" data-placement="bottom" title="Disable">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 50px" data-ng-show="television">
                    <div class="rows" style="margin-left: 10px;margin-right: 10px">
                        <div class="col-sm-12 col-md-6 col-lg-3 center">
                            <div class="item-subcategory-adm">
                                <div class="info-subcategory-adm">
                                    <i class="icon-settings icon-subcategory-adm"></i>
                                    <span class="name-subcategory-adm">
                                        Computer Repair and Help
                                    </span>
                                    <span class="price-subcategory-adm">
                                        85 USD
                                    </span>
                                </div>
                                <div id="icon" style="display: none;" class="subcat-options-hidden">
                                    <div class="card-user-option">
                                        <i class="icon-pencil card-user-option-icon m-0" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                    </div>
                                    <div class="card-user-option">
                                        <label class="switch mt-1" data-toggle="tooltip" data-placement="bottom" title="Disable">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 50px" data-ng-show="audio">
                    <div class="rows" style="margin-left: 10px;margin-right: 10px">
                        <div class="col-sm-12 col-md-6 col-lg-3 center">
                            <div class="item-subcategory-adm">
                                <div class="info-subcategory-adm">
                                    <i class="icon-settings icon-subcategory-adm"></i>
                                    <span class="name-subcategory-adm">
                                        Computer Repair and Help
                                    </span>
                                    <span class="price-subcategory-adm">
                                        85 USD
                                    </span>
                                </div>
                                <div id="icon" style="display: none;" class="subcat-options-hidden">
                                    <div class="card-user-option">
                                        <i class="icon-pencil card-user-option-icon m-0" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                    </div>
                                    <div class="card-user-option">
                                        <label class="switch mt-1" data-toggle="tooltip" data-placement="bottom" title="Disable">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 50px" data-ng-show="wifi">
                    <div class="rows" style="margin-left: 10px;margin-right: 10px">
                        <div class="col-sm-12 col-md-6 col-lg-3 center">
                            <div class="item-subcategory-adm">
                                <div class="info-subcategory-adm">
                                    <i class="icon-settings icon-subcategory-adm"></i>
                                    <span class="name-subcategory-adm">
                                        Computer Repair and Help
                                    </span>
                                    <span class="price-subcategory-adm">
                                        85 USD
                                    </span>
                                </div>
                                <div id="icon" style="display: none;" class="subcat-options-hidden">
                                    <div class="card-user-option">
                                        <i class="icon-pencil card-user-option-icon m-0" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                    </div>
                                    <div class="card-user-option">
                                        <label class="switch mt-1" data-toggle="tooltip" data-placement="bottom" title="Disable">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 50px" data-ng-show="malware">
                    <div class="rows" style="margin-left: 10px;margin-right: 10px">
                        <div class="col-sm-12 col-md-6 col-lg-3 center">
                            <div class="item-subcategory-adm">
                                <div class="info-subcategory-adm">
                                    <i class="icon-settings icon-subcategory-adm"></i>
                                    <span class="name-subcategory-adm">
                                        Computer Repair and Help
                                    </span>
                                    <span class="price-subcategory-adm">
                                        85 USD
                                    </span>
                                </div>
                                <div id="icon" style="display: none;" class="subcat-options-hidden">
                                    <div class="card-user-option">
                                        <i class="icon-pencil card-user-option-icon m-0" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                    </div>
                                    <div class="card-user-option">
                                        <label class="switch mt-1" data-toggle="tooltip" data-placement="bottom" title="Disable">
                                            <input type="checkbox" checked>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<button type="button" class="btn float-add" data-toggle="modal" data-target="#new-subcategory">-->
                    <!--<i class="ion-plus"></i>-->
                <!--</button>-->
                <div id="container-floating">

                    <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="Disable">
                        <img class="reminder">
                        <p class="letter"><i class="ion-eye-disabled"></i></p>
                    </div>
                    <div class="nd3 nds" data-toggle="modal" data-target="#edit-subcategory">
                        <p class="letter"><i class="icon-pencil"></i></p>
                    </div>
                    <div class="nd1 nds" data-toggle="modal" data-target="#new-subcategory">
                        <p class="letter"><i class="ion-plus"></i></p>
                    </div>
                    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="More" onclick="newmail()">
                        <p class="plus"><i class="ion-android-more-vertical"></i></p>
                        <p class="edit"><i class="ion-android-more-horizontal"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal New Subcategory-->
    <div class="modal fade" id="new-subcategory" tabindex="-1" role="dialog" aria-hidden="true"  style="padding-right: 0">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form class="modal-body">
                    <div class="modal-title title-modal">
                        New Subcategory
                    </div>
                    <div class="form-subcat">
                        <div class="form-group">
                            <input class="form-control form-control-solid input-info" type="text" placeholder="Subcategory name *" name="pass"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-solid input-info" type="number" placeholder="Estimated price (USD) *" name="pass"/>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <a href="" class="link-cancel" data-dismiss="modal">Cancel</a>
                    <a href="" class="link-confirm">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Subcategory-->
    <div class="modal fade" id="edit-subcategory" tabindex="-1" role="dialog" aria-hidden="true"  style="padding-right: 0">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form class="modal-content">
                <div class="modal-body">
                    <div class="modal-title title-modal">
                        Edit Subcategory
                    </div>
                    <div class="form-subcat">
                        <div class="form-group">
                            <input class="form-control form-control-solid input-info" type="text" placeholder="Subcategory name *" name="pass"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-solid input-info" type="number" placeholder="Estimated price (USD) *" name="pass"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="link-cancel" data-dismiss="modal">Cancel</a>
                    <a href="" class="link-confirm">Confirm</a>
                </div>
            </form>
        </div>
    </div>

    <!--Plus-->
    <div class="modal fade" id="plus" tabindex="-1" role="dialog" aria-hidden="true"  style="padding-right: 0">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <form class="modal-content">
                <div class="modal-body">
                    <div class="modal-title title-modal pb-4">
                        Plus
                    </div>
                    <div class="content-plus">
                        <div class="rows pb-4">
                            <div class="col-sm-12 col-md-12 col-lg-5">
                                <div class="form-group">
                                    <input class="form-control form-control-solid input-info" type="text" placeholder="Plus name *" name="pass"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-5">
                                <div class="form-group">
                                    <input class="form-control form-control-solid input-info" type="text" placeholder="Estimated price (USD) *" name="pass"/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2" align="center">
                                <a class="btn btn-filter">
                                    Add
                                </a>
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="plus-row">
                            <div class="plus-left">
                                <span class="plus-name">Lorem ipsun lorem ipsun lorem ipsun</span>
                            </div>
                            <div class="plus-center">
                                <span class="plus-price">USD 80</span>
                            </div>
                            <div class="plus-right">
                                <button type="button" class="btn btn-plus">
                                    <i class="ion-close"></i>
                                </button>
                            </div>
                        </div><div class="plus-row">
                            <div class="plus-left">
                                <span class="plus-name">Lorem ipsun lorem ipsun lorem ipsun</span>
                            </div>
                            <div class="plus-center">
                                <span class="plus-price">USD 80</span>
                            </div>
                            <div class="plus-right">
                                <button type="button" class="btn btn-plus">
                                    <i class="ion-close"></i>
                                </button>
                            </div>
                        </div><div class="plus-row">
                            <div class="plus-left">
                                <span class="plus-name">Lorem ipsun lorem ipsun lorem ipsun</span>
                            </div>
                            <div class="plus-center">
                                <span class="plus-price">USD 80</span>
                            </div>
                            <div class="plus-right">
                                <button type="button" class="btn btn-plus">
                                    <i class="ion-close"></i>
                                </button>
                            </div>
                        </div><div class="plus-row">
                            <div class="plus-left">
                                <span class="plus-name">Lorem ipsun lorem ipsun lorem ipsun</span>
                            </div>
                            <div class="plus-center">
                                <span class="plus-price">USD 80</span>
                            </div>
                            <div class="plus-right">
                                <button type="button" class="btn btn-plus">
                                    <i class="ion-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" class="link-cancel" data-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>
<footer id="ABdev_main_footer">
    <div id="footer_copyright">
        <div class="container">
            <div class="row">
                <div class="span4 footer_copyright left_aligned">
                    BEET ©2017. All Rights Reserved
                    <a href="../es/index.html">
                        <img src="images/es.svg" width="20px"></a>
                </div>
                <div class="span6 right_aligned">


                    <a href="#"><img src="images/google-play-badge.svg" width="135"></a>
                    <a href="#"><img src="images/Download_on_the_App_Store_Badge_US-UK_135x40.svg"></a>
                </div>
                <div class="span2 center_aligned">
                    <a href="#" id="back_to_top" title="Back to top">
                        <i class="ci_icon-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../js/jquery.js"></script>
<!--<script type="text/javascript" src="../js/jquery.slim.min.js" ></script>-->
<script type="text/javascript" src="../js/angular/angular.min.js"></script>
<script type="text/javascript" src="//code.angularjs.org/1.6.9/angular-animate.js"></script>
<script type="text/javascript" src="../js/angular/Chart.min.js"></script>
<script type="text/javascript" src="../js/angular/angular-chart.js"></script>
<script type="text/javascript" src=//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-messages.js"></script>
<script type="text/javascript" src="../js/ngMask.min.js"></script>
<script type="text/javascript" src="../js/jquery.hoverdir.js"></script>
<script type="text/javascript" src="../js/modernizr.custom.97074.js"></script>
<script type="text/javascript" src="../js/timepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

<script src="../js/ui-bootstrap.js"></script>

<script src="../js/moment.js"></script>
<script src="../js/fullcalendar.js"></script>
<script src="../js/gcal.js"></script>
<script src="../js/calendar.js"></script>
<script src="../js/clockpicker.js"></script>
<script src="../js/ng-flow-standalone.min.js"></script>
<script src="../js/angular/app.js"></script>


<script type="text/javascript" src="js/stickymenu.js"></script>
<!--<script type="text/javascript" src="js/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="../rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../js/prettify.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="../js/portfolio-init.js"></script>
<script type="text/javascript" src="../js/sweetalert2.min.js"></script>
<script type="text/javascript" src="../js/alerts.js"></script>
<script type="text/javascript" src="../js/functions.js"></script>
<script>
    $(document).ready(function () {
        $('.item-subcategory-adm').hover(function () {
                $(this).find('#icon').fadeIn().css("display", "flex");
            },
            function () {
                $(this).find('#icon').fadeOut();
            });
    });
</script>
</body>
</html>

